<div class="text-center">
  <h1>Fernando Quilaqueo</h1>
  <h5> Industrial Civil Engeneering </h5> 
  <p>
  I am 21 years old, I enjoy studying and playing sports. I have been training in handball since I was 8 years old, which has allowed me to play in different parts of the country and even abroad. I am currently the treasurer of the CDI, which opens the door to new adventures in my university life.
  </p>
  <p> And this is my new page, the one that will beat X and Elon Musk. </p>
  <p> I love Bluey </p>
  <a href="https://www.youtube.com/watch?v=AG5HnHE__5Y&ab_channel=Bluey-Espa%C3%B1olCanalOficial" class="btn btn-primary">Watch Bluey</a>
</div>
