<div class="text-center">
  <h1>Fernando Quilaqueo</h1>
  <h5> Industrial Civil Engeneering </h5> 
  <p>
  I am 21 years old, I enjoy studying and playing sports. I have been training in handball since I was 8 years old, which has allowed me to play in different parts of the country and even abroad. I am currently the treasurer of the CDI, which opens the door to new adventures in my university life.
  </p>
</div>
