<div class="text-center">
  <h1>Welcome to Y</h1>
  <p class="lead">This is X... sorry Y, a much better page than "Twitter"</p>
  <div class="card" style="max-width: 300px; margin: auto;">
    <%= image_tag 'yx.webp', alt: 'This is Y', class: 'img-fluid' %>
  </div>
</div>
